<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DendriteClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DendriteClientTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>704522E113E9F42B004B8958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>704522EF13E9F42B004B8958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70490BCC13E2F97500A5258F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70490BE413E2F97500A5258F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
